<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid" style="margin-left: 300px;" >
          <a class="navbar-brand" href="{% url 'moda:modas' %} ">TODOS LOS ARTICULOS</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
             
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  HOMBRES
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                  <li><a class="dropdown-item" href="?tipo=polochert ">POLOCHER</a></li> 
                  <li><a class="dropdown-item" href="?tipo=pantalon ">PANTALON</a></li>
                  <li><a class="dropdown-item" href="?tipo=tenis">TENIS</a></li>
                  <li><a class="dropdown-item" href="?tipo=acesorios">ROPA INTERIOR</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  MUJERES
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                    <li><a class="dropdown-item" href="?tipo=vestidos ">VESTIDOS</a></li>
                    <li><a class="dropdown-item" href="?tipo = pantalon">PANTALONES</a></li>
                    <li><a class="dropdown-item" href="?tipo = zapatilla">ZAPATILLAS</a></li>                   
                    <li><a class="dropdown-item" href="?tipo = ropa interior">ROPA INSTERIOR</a></li>
                </ul>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown" href="?tipo=niños " id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" >
                      NIÑOS
                    </a>
                   
                  </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown" href=" " >
                  NIÑAS
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
</body>
</html>